<?php

function env ($key, $alt) {
    switch ($key) {
    case 'DB_HOST':
        return 'localhost';
    case 'DB_PORT':
        return '3306';
    case 'DB_DATABASE':
        return 'jikkenb';
    case 'DB_USERNAME':
        return 'root';
    case 'DB_PASSWORD':
        return 'jikken2019';
    default:
        return $alt;
    }
}

function root () {
    return $_SERVER['DOCUMENT_ROOT'];
}
